<div class="uk-padding-small uk-section uk-section-secondary" uk-sticky>
  <div class="uk-container">
    <nav class="uk-navbar">
      <div class="uk-navbar-left">
        <%= link_to t('common.admin_html_title'), admin_root_path, class: 'uk-text-lead uk-text-emphasis uk-link-reset' %>
      </div>
      <div class="uk-navbar-right">
        <span class="uk-text-meta" %>管理画面</span>
      </div>
  </div>
</div>
