<%# タイトルタグ %>
<% content_for(:html_title) { 'PUC人数表' } %>
<%# head %>
<% content_for(:head) { javascript_include_tag 'common', 'data-turbolinks-track': 'reload' } %>

<%# ----- body 開始 ----- %>
<div class="uk-container uk-background-default">
  <div class="uk-section-xsmall">
    <%# 検索ボックス %>
    <%= render 'search_box' %>

    <%# テーブル表示部 %>
    <%= render 'table' %>
</div>
<%# ----- body 終了 ----- %>
