<%# 検索ボックス %>
<div class="uk-margin-small-top uk-padding-small uk-tile uk-tile-muted uk-box-shadow-xlarge" uk-sticky="offset: 70;">
  <%# ページネーション %>
  <%= paginate @volforce_rank_pages, window: @window_size %>
</div>
