/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
    &::-webkit-search-decoration {
      display: none;
    }
    &::focus {
      outline-offset: -2px;
    }
}

.header-nav {
  background: -webkit-linear-gradient(90deg, rgb(30, 103, 255), rgb(131, 177, 255));
  background: linear-gradient(90deg, rgb(30, 103, 255), rgb(131, 177, 255));
  color: #fff;

  &__icon {
    max-width: 36px;
  }
}
