<div class="uk-padding-small uk-section header-nav" uk-sticky>
  <nav class="uk-navbar">
    <div class="uk-navbar-left">
      <%= link_to(
        image_tag('logo_mini.png', class: 'uk-margin-small-left uk-margin-small-right header-nav__icon'),
        root_path,
        class: 'uk-text-lead uk-text-emphasis uk-link-reset'
      ) %>
    </div>
    <div class="uk-navbar-right">
      <span uk-navbar-toggle-icon></span>
    </div>
  </nav>
</div>
