<div class="uk-section-xsmall uk-section-primary">
  <div class="uk-container">
    <%= link_to t('common.title'), root_path, class: 'uk-text-lead uk-text-emphasis' %>
    <span class="uk-text-meta">（最終更新日：<%= l ChartUpdateMaster.first.update_date %>）</span>
  </div>
</div>